<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to home page</title>



</head>
<body>
<h1>This is HomePage.</h1>
<h2>Oauth2 authintication with gitHub and gmail. Using "/profile" to access the login pages.
Or click on link below.</h2>

<a href="/login">Login with OAuth</a>

<a href="/oauth2/authorization/google">Login with Google</a>
<a href="/oauth2/authorization/github">Login with GitHub</a>



<div th:each="onePlayer: ${players}">

    <h2 th:text=" ${onePlayer.getName()}"></h2>
    <h2 th:text=" ${onePlayer.getAge()}"></h2>

</div>



</body>
</html>